table.zebra > tbody > tr, table.zebra-hover > tbody > tr { background-color:#f2f2f2; }
table.zebra > tbody > tr:nth-child(2n+1), table.zebra-hover > tbody > tr:nth-child(2n+1) { background-color:#e2e2e2; }
table.zebra-hover > tbody > tr:hover { background-color:#ced8f2; }
table.zebra-hover > tbody > tr:hover:nth-child(2n+1) { background-color:#b7c2e2; }
